.page {
    width: 100%; /* Adjust the width as needed */
    min-height: 100vh; /* Ensure the page takes up at least the full viewport height */
    background-color: transparent; /* Change the background color as needed */

    background-image: url('../Assets/reden-panneaux.png'); /* Update with the correct path to your image */
    background-size: cover; /* Adjust as needed to cover the entire page */
    background-position: center; /* Center the image */
    margin-top: 0px;
   
  }
  

  .header-frame {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center text and logo */
}
  
  /*.header-frame h1 {
    margin-left: 10px;
    text-align: left; /* Center the text within the h1 element */
   /* color: #345B6D;
    font-size: 30px;
    flex-grow: 1; /* Allow the text to take up available space */
  /*}*/
  
  /*.header-frame img {
    width: 200px;
    height: auto;
    margin-left: 18px; /* Adjust the margin to move the logo to the left */
/*} */
  

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0px;
    background-color: #87A5B5;
    padding-bottom: 30px;
    width: 600px;
    border-radius: 9px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}

.underline{
    width: 91px;
    height: 6px;
    background: #ffffff;
    border-radius: 9px;
}

.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #ffffff;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #87A5B5;
    font-size: 19px;
}

.go-forgot-password{ 
    align-items: center;
    margin-top: 27px;
    color: #ffffff;
    font-size: 18px;
}

.go-forgot-password span{
    font-weight: 700;
    color: #345B6D;
    cursor: pointer; 
    text-decoration: none; /* Remove underlining */
    color: inherit; /* Inherit text color from parent */  
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #ffffff;
    background: #345B6D;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}

.gray{
    background: #ffffff;
    color: #345B6D;
}