asgiref
celery
datetime
Django
django-cors-headers
django-crontab
django-celery
django-celery-beat
django-redis
django-rest-framework
flower
psycopg2-binary
pandas
redis[hiredis]
sqlparse
tzdata
workalendar
datetime
requests
pytz
django-cors-headers
pendulum
gunicorn




