/* ************************************************************************************************* */
/* import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


/* ************************************************************************************************* */
/* Body */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Calibri, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
}

/* ************************************************************************************************* */
/* Header */

header {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center; /* Centrer horizontalement les éléments enfants */
  flex-direction: row;
  background: rgba(135, 165, 181,0.2) ;
  height: 12vh;
  width: 100vw;
}

header img {
  position: absolute;
  top: 1.2rem;
  left: 1vw;
  padding: 0;
  width: 150px;
}

/* Navbar */

.navbar-container {
  padding: 0;
  border: rgba(106, 138, 155,0.3) 1px solid;
  border-top: 0;
  border-radius: 0 0 15px 15px;
  background: rgba(135, 165, 181,0.15);
  height: 10vh;
  box-shadow: rgba(106, 138, 155,0.6) 5px 5px 5px 2px;
}
.navbar-container ul{
  padding: 5px;
  gap: 10vw;
}
.navbar-nav {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}


.navbar-nav a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none !important;
  border-radius: 6px;
  padding: 10px;
  display: block;
  transition: all 0.15s ease-in-out;
}
.navbar-nav a svg {
  color: rgb(0, 0, 0) !important;
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 6px;
  /* text-shadow: gray 1px 1px 1px; */
}

.navbar-nav a span {
  color: rgb(0, 0, 0) !important;
  font-size: 0.6rem;
  font-weight: 350;
  border-radius: 6px;
  text-align: center;
  /* text-shadow: gray 1px 1px 1px; */
}

.navbar-nav:hover{
  background: rgba(135, 165, 181,0.5);
}
.navbar-nav:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .navbar-container ul {
    gap: 5vw;
  }
}
@media screen and (max-width: 950px) {
  .navbar-container ul {
    gap: 3vw;
  }
}

/* ****************************************************************************************** */
/* Pour les navigateurs basés sur WebKit (Google Chrome, Safari) */
/* Barre de défilement */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Bouton de défilement */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Couleur du bouton de défilement */
  border-radius: 5px; /* Arrondi du bouton de défilement */
}

/* Piste de défilement */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Couleur de la piste de défilement */
}

.z-index-999{
  z-index: 999 !important;
}

/* *************************************************************************************************** */
/* Tableau */

.border-irradiance{
  border-right: 4px solid #000;
}
.table-danger-perso{
  background-color: rgba(255, 108, 108, 0.6) !important; /* Background color for danger rows */
  font-weight: bold; /* Bold text for danger rows */
  cursor: pointer;
}
.table-success-perso{
  background-color: rgba(104, 255, 80, 0.6) !important; /* Background color for danger rows */
  font-weight: bold; /* Bold text for danger rows */
  cursor: not-allowed;
}
.table-info-perso{
  background-color: rgba(92, 244, 255, 0.6) !important; /* Background color for danger rows */
  font-weight: bold; /* Bold text for danger rows */
  cursor: pointer;
}
.table-secondary-perso{
  background-color: rgba(219, 219, 219, 0.6) !important; /* Background color for danger rows */
  font-weight: bold; /* Bold text for danger rows */
  cursor: not-allowed;
}
.table-container {
  max-height: 66vh; /* Ajustez selon vos besoins */
  width: 100%;
  overflow-y: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff; /* Ajoutez la couleur de fond de votre choix */
  z-index: 450; /* Assurez-vous que le z-index est supérieur à celui des autres éléments */
}
.sticky-column-1 {
  position: sticky;
  left: 0;
  /* background-color: #fff; Ajoutez la couleur de fond de votre choix */
  z-index: 400; /* Assurez-vous que le z-index est supérieur à celui des autres éléments */
}
.sticky-column-2 {
  position: sticky;
  left: 60px;
  border-right: #000 5px solid;
  /* background-color: #fff; Ajoutez la couleur de fond de votre choix */
  z-index: 400; /* Assurez-vous que le z-index est supérieur à celui des autres éléments */
}

/* ***************************************************************************************************** */
/* Charte graphique  */
.bg-perso-filtre1 {
  background-color: rgba(135, 165, 181,1);
}
.bg-perso-filtre2 {
  background-color: rgba(52, 91, 109,1);
}
.bg-perso-filtre3 {
  background-color: rgba(228, 31, 19,1); 
}.bg-perso-filtre4 {
  background-color: rgba(106, 138, 155,1);
}

/* ***************************************************************************************************** */
/* Bouton perso */

.btn-perso {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

/* Bouton primaire */
.btn-perso-primary {
  color: #fff;
  background-color: rgba(52, 91, 109, 0.8);
  border-color: rgba(52, 91, 109, 0.8);
}

.btn-perso-primary:hover {
  background-color: rgba(52, 91, 109, 1);
  border-color: rgba(52, 91, 109, 1);
}

/* Bouton secondaire */
.btn-perso-secondary {
  color: #fff;
  background-color: rgba(135, 165, 181, 0.8);
  border-color: rgba(135, 165, 181, 0.8);
}

.btn-perso-secondary:hover {
  background-color: rgba(135, 165, 181, 1);
  border-color: rgba(135, 165, 181, 1);
}

/* Bouton danger */
.btn-perso-danger {
  color: #fff;
  background-color: rgba(228, 31, 19, 0.8);
  border-color: rgba(228, 31, 19, 0.8);
}

.btn-perso-danger:hover {
  background-color: rgba(228, 31, 19, 1);
  border-color: rgba(228, 31, 19, 1);
}

/* Bouton light */
.btn-perso-light {
  color: #000;
  background-color: rgba(106, 138, 155, 0.8);
  border-color: rgba(106, 138, 155, 0.8);
}

.btn-perso-light:hover {
  background-color: rgba(106, 138, 155, 1);
  border-color: rgba(106, 138, 155, 1);
}


.btn-perso-primary:focus, .btn-perso-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-perso-primary.disabled, .btn-perso-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-perso-primary:not(:disabled):not(.disabled):active, .btn-perso-primary:not(:disabled):not(.disabled).active,
.show > .btn-perso-primary.dropdown-toggle {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-perso-primary:not(:disabled):not(.disabled):active:focus, .btn-perso-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-perso-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.pointer-perso{
  cursor: pointer;
}