#tab_cate{
    position:relative;
    width:100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    table-layout: fixed;
    
}
#tab_cate th, #tab_cate td {
    padding: 4px;
    text-align: center;

  }
  #tab_cate th {
    position: sticky;
    top: 0;
    background-color: #B4C6E7;
    color: black;
    border: 1px solid #000000;
}
#selec_centrale{
    margin: 5%;
}
#filtre_centrale{
    position:absolute;
    top:4%;
    left:15%;
    z-index: 999;
}
#compteur {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:10%;
}
#para_dispo{
    position:absolute;
    top:3%;
    left:70%;
    z-index:2000;
}
#select-period {
position: absolute;
top: 3%;
left: 28%;
z-index: 999;
align-items: center;
}
.hidden-cell {
    display: none;
}
#checkbox_show{
    position: absolute;
    top: 3%;
    left: 65%;
    z-index: 999;
    width: 20px;
    height: 20px;
}
#button_close_calendar{
    width:6%;
    text-align:left;
    margin-right:5px;
}
#frame{
    height:100%;
    display: flex;
    flex-direction: line;
}
#calendar-overlay{
    position: absolute;
    z-index: 2000;
    align-items: center;
    background-color: white;
    border: 1px solid #000000;
    border-radius:5px;
    height:6%;
    margin-left:10px;
}
#boutons_compteurs{
    display: flex;
    flex-direction: column;
}
.zero-value{
    background-color:red;
}
#button_close_overlay_1{
    position:relative;
    left:40%;
}

.second-overlay{
    position:fixed;
    z-index: 999;
    background-color: white;
    border: 2px solid #000000;
}
.clicked-row{
    background-color:lightblue;
}
#ooo{
    position:absolute;
    left:50%;
    top:50%;
}
#iii{
    position:absolute;
    left:30%;
    top:50%;
}
#tab_header{
    color:black;
    border: 1px solid #000000;
    background-color:#B4C6E7;
}
#valeurs-consecutives{
    background-color:red;
}
#tab_cate thead {
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
    z-index: 999;
    color:black;
    border: 1px solid #000000;
    background-color:#B4C6E7;
  }
#tab_h{
    color:black;
    border: 1px solid #000000;
}
#tab_container{
    overflow:auto;
    width:99.8%;
    max-height:90%;
    position:absolute;
    top:9.6%;
    left:0%;
    border: 1px solid #000000;
    z-index:0;
}

.menu-contextuel{   
    position: fixed;
    z-index: 999;
    background-color: white;
    border: 2px solid #000000;
}

#head_cate{
    background-color:rgba(52, 91, 109, 1);
    color:white;
}
#body_css{
    background-color: rgba(182, 195, 201, 1);
}

#text_inside{
    color:black;
    text-align:center;
    margin:10px;
}
#ameliorer{
    color:black;
}
#confirm_cate{
    color:black;
    text-align:center;
    margin:10px;
}
#cancel_cate{
    color:black;
    text-align:center;
    margin:10px;
}

#body{
    color:black;
    border:1px solid #000000;
    border-collapse:collapse;
}