#tab_container_mc {
  overflow: auto;
  width: 99.8%;
  max-height: 90%;
  position: absolute;
  top: 9.6%;
  left: 0%;
  border: 1px solid #000000;
  z-index: 0;
}


#tab_mc {
  border-collapse: collapse;
  border: 1px solid #000000;
  width: 100%;
}

#head_container {
  display: flex;
  position: sticky;
  background-color:#B4C6E7;
}

#head_mc {
  color: black;
  border: 2px solid #000000;
  text-align: left;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

#tab_mc tbody {
  display: block;
  height: 90%;
  overflow: auto;
}

#tab_mc tbody tr {
  display: flex;
}

#tab_mc tbody td {
  flex: 1;
  text-align: left;
  border: 1px solid #000000;
  padding: 8px;
  box-sizing: border-box;
}